@import url( 'http://fonts.googleapis.com/css?family=Copse' );

.font-primary, body { 
	font-family:  'Open Sans', Arial, sans-serif;
}

.font-secondary,
.wp-caption-text,
.gallery-caption,
h3.widget-title {
	font-family:  'Open Sans', Arial, sans-serif;
}

.font-headlines,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Copse', serif;
}

h1 {
font-size: 2.1rem;
}

h2 {
font-size: 1.8rem;
}

blockquote {
color: #757575;
background-color: rgba(225, 225, 225, 1);
margin: 0 0 1.5rem;
padding: 1.5rem 1.5rem 0;
border: 1px solid #cccccc;
outline-color: rgba(227, 227, 227, .1);
}

body.mceContentBody a {
color: #4183c4;
}