/**
 * Theme Name:  Ex Astris
 * Theme URI:   http://themehybrid.com/themes/ex-astris
 * Description: Ex Astris is a WordPress child theme for the excellent <a href="http://themehybrid.com/themes/stargazer">Stargazer</a> theme from <a href="http://themehybrid.com/">Theme Hybrid</a>. This bold theme was designed for bloggers. Make it your own with a customer header and custom background. The theme supports all of the custom layouts found in the Stargazer parent theme, including  1 Column Wide, 1 Column Narrow, 2 Columns: Content / Sidebar, and 2 Columns: Sidebar / Content.

A live demo is a vailable at: <a href="http://untame.net/ex-astris/">untame.net/ex-astris</a>
 * Version: 1.0.3
 * Author:      Sarah Gooding
 * Author URI:  http://untame.net
 * Tags:        custom-background, custom-colors, custom-header
 * License:     GNU General Public License v2.0 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Template:    stargazer
 * Text Domain: ex-astris
 * Domain Path: /lang
 */


/* ====== Primary Font ====== */

.font-primary,
body,
input,
textarea,
.label-checkbox,
.label-radio,
.required,
#site-description,
#reply-title small {
	font-family:  'Open Sans', Arial, sans-serif;
}

/* ====== Secondary Font ====== */

.font-secondary,
dt,
th,
legend,
label,
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
select,
option,
.wp-caption-text,
.gallery-caption,
.mejs-controls,
.entry-byline,
.entry-footer,
.chat-author cite,
.chat-author,
.comment-meta,
.menu,
.breadcrumb-trail,
.media-info .prep,
.comment-reply-link,
.comment-reply-login,
.clean-my-archives .day,
.whistle-title,
h3.widget-title {
	font-family:  'Open Sans', Arial, sans-serif;
}

/* ====== Headlines Font ====== */

.font-headlines,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Copse', serif;
}

h1 {
font-size: 2.1rem;
}

h2 {
font-size: 1.8rem;
}

body.custom-background {
background-repeat: no-repeat;
background-position: top center;
background-attachment: fixed;
}

#branding {
margin-right: auto;
margin-left: auto;
}

.ltr #branding, .rtl #branding {
float: none;
text-align: center;
}

#branding img.avatar {
float: none;
width: 160px;
height: 160px;
margin: 25px 0 0 0;
}

#branding h1, #branding h2 {
clear: left;
}

.rtl.layout-1c #menu-social,.rtl.layout-2c-l #menu-social,.rtl.layout-2c-r #menu-social,.ltr.layout-1c #menu-social,.ltr.layout-2c-l #menu-social,.ltr.layout-2c-r #menu-social {
float:none;
margin-right:auto;
margin-left:auto;
}

.rtl.layout-1c #menu-social ul,.rtl.layout-2c-l #menu-social ul,.rtl.layout-2c-r #menu-social ul,.ltr.layout-1c #menu-social ul,.ltr.layout-2c-l #menu-social ul,.ltr.layout-2c-r #menu-social ul {
text-align:center;
}

#container>.wrap {
background: rgba(255,255,255, 0.9);
}


h2#site-description.font-primary {
margin-bottom: 0.5rem;
}

div.entry-content a, span.entry-terms a, div.loop-nav a, a.post-edit-link, a.url.fn.n, div.entry-summary a, div.comment-content a, div.widget a {
color: #4183c4;
}


div.entry-content blockquote, div.comment-content blockquote {
color: #757575;
background-color: rgba(0, 0, 0, 0);
margin: 0 0 1.5rem;
padding: 1.0rem 1.5rem 0;
border-left: 5px solid #333;
outline-color: rgba(0, 0, 0, 0);
}
